---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<section class="wrap">
		<h1>Contacto</h1>
		<p>Escríbenos: contacto@editorial.com</p>
	</section>
</Layout>

<style>
	.wrap {
		max-width: 780px;
	}

	h1 {
		margin: 0 0 10px;
		font-size: 34px;
		letter-spacing: -0.02em;
	}
</style>
